@using RS1_Ispit_asp.net_core.ViewModels;
@model DetaljiOdrzaniCasVM

@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji odrzanog casa</h2>
<form class="form-group">

    <input asp-for="@Model.OdrzaniCasID" hidden />

    <div class="form-group">
        <label>Datum</label>
        <input type="text" asp-for="@Model.Datum" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label>Skola/Odjeljenje/Predmet</label>
        <input type="text" asp-for="@Model.PredajePredmet" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label>Sadrzaj</label>
        <input type="text" asp-for="@Model.Sadrzaj" class="form-control" readonly />
    </div>

</form>

<div id="ajaxDiv"></div>
<script>
	$.get("/OdrzanaNastava/OdrzaniCasDetaljiIndex?OdrzaniCasID=@Model.OdrzaniCasID",
		function (result, status) {
			$("#ajaxDiv").html(result);
		});
</script>
